 .container {
    font-style: poppins;
    color: #141313; 
    font-size: 16px;
    margin-bottom: 4px;
  

}   

.row{

    justify-content: left;
    padding:4px
   
}

.row li {
    
    font-size: 16px;
    font-style: poppins;
    justify-content: left;
    padding: 12px;
}


.Additional_Info p {
    margin-top: 20px;
    font-style: poppins;
    font-size: 16px;
    text-align: center;
}


